
@font-face {
	font-family: "source-sans";
	src: url(SourceSansPro-Regular.otf) format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: "source-sans";
	src: url(SourceSansPro-Semibold.otf) format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: "source-sans";
	src: url(SourceSansPro-Bold.otf) format('opentype');
	font-weight: bold;
}


html {
	font-size: 62.5%;/* 10px */
}

body {
	font-family: "source-sans", Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #333;
}

h1, .h1 {
	font-size: 3.2rem;
	font-weight: bold;
}

h2, .h2 {
	font-size: 2.4rem;
	font-weight: bold;
}

h3, .h3 {
	font-size: 1.8rem;
	font-weight: bold;
}

a {
	color: cornflowerblue;
}

a:hover,
a:focus {
	text-decoration: none;
}

p {
	margin: 0 0 1em;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	padding: 0;
}

form {
	--label-width: 10em;
	--label-pr: 1em;
	transition: opacity 200ms ease-in-out;
}

form.is-disabled {
	opacity: 0.2;
	pointer-events: none;
}

fieldset {
	margin-bottom: 2em;
	border: none;
	padding: 0;
}

legend {
	padding: 0;
	font-weight: bold;
}

label {
	display: block;
	font-weight: bold;
}

input {
	vertical-align: middle;
	font: inherit;
}

input[type="text"] {
	margin-bottom: 0.6em;
	padding: 0 0 0.1em;
	border: none;
	border-bottom: 1px solid;
	width: 58ch;
	width: 36ch;
	font-variant-numeric: tabular-nums slashed-zero;
}

input.input--write-value {
	width: 24ch;
}

::placeholder {
	/* color: yellow; */
	font-style: italic;
}

.o-content-width {
	margin: 2em auto;
	max-width: 66em;
}

.connection-details {
	margin-bottom: 1em;
	padding: 1em;
	background-color: rgba(204, 0, 0, 0.2);
}

.connection-details--is-connected {
	background-color: rgba(0, 128, 0, 0.2);
}

.btn {
	color: white;
	border: none;
	padding: 0.5em 1em;
	background: cornflowerblue;
	font: inherit;
}

.btn[disabled] {
	opacity: 0.3;
}

.btn--connect {
	background: green;
}

.btn--disconnect {
	background: #c00;
}

.form-list {
	list-style: none;
}

.form-row {
	padding: 0.5em 0 0.5em calc(var(--label-width) + var(--label-pr));
}

.explanation,
.weak {
	color: #666;
	font-weight: normal;
	font-size: smaller;
}

.explanation a,
.weak a {
	color: cornflowerblue;
}

.u-list--bare {
	list-style: none;
}

/*-- Start filters --*/

	.connection-option {
		margin-bottom: 2em;
	}

/*-- Start characteristic --*/

	.characteristics-list {
		margin-top: 2em;
	}

	.characteristic {
		margin: 0 0 2em 2em;
	}

	.characteristic__controls {
		display: flex;
	}

	.characteristic__control {
		margin-left: 2em;
	}

	.characteristic__control:first-child {
		margin-left: 0;
	}

/*-- End characteristic --*/

.input--uuid {
	width: 38ch;
}

.uuid {
	font-variant-numeric: tabular-nums slashed-zero;
}
